@model MetiKala.Domain.Entities.Products.Product
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <!-- Your Profile Views Chart -->
    <div class="col-lg-12 m-b30">
        <div class="widget-box">
            <div class="wc-title">
                <h4>افزودن دوره</h4>
            </div>
            <div class="widget-inner">
                <form asp-action="Create" method="post" class="edit-profile m-b30" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-12">
                            <div class="ml-auto">
                                <h3>1. اطلاعات پایه</h3>
                            </div>
                        </div>
                        <div class="form-group col-6">
                            <label class="col-form-label">نام </label>
                            <div>
                                <input asp-for="ProductTitle" class="form-control" type="text">
                                <span asp-validation-for="ProductTitle"></span>
                            </div>
                        </div>
                        <div class="form-group col-6">
                            <label class="col-form-label">گروه پدر</label>
                            <div>
                                <select id="grandParentGroupeID" asp-for="GrandParentGroupeID" asp-items="ViewBag.GranParentGroupes as SelectList"></select>

                            </div>
                        </div>
                        <div class="form-group col-6">
                            <label class="col-form-label">گروه اصلی</label>
                            <div>
                                <select id="parentGroupeID" asp-for="ParentGroupeID" asp-items="ViewBag.ParentGroupes as SelectList"></select>

                            </div>
                        </div>
                        <div class="form-group col-6">
                            <label class="col-form-label">زیر گروه</label>
                            <div>
                                <select id="subGroupeID" asp-for="SubGroupeID" asp-items="ViewBag.SubGroupes as SelectList"></select>
                                <span asp-validation-for="SubGroupeID"></span>
                            </div>
                        </div>

                        <div class="form-group col-6">
                            <label class="col-form-label">قیمت </label>
                            <div>
                                <input asp-for="Price" class="form-control" type="number">
                                <span asp-validation-for="Price"></span>
                            </div>
                        </div>
                        <div class="form-group col-6">
                            <label class="col-form-label">تصویر دوره</label>
                            <div>
                                <input class="form-control" name="file" id="imgProductUp" type="file">
                            </div>
                        </div>
                        <div class="form-group col-6">

                            <div>
                                <img style="width:250px;height:250px" id="imgProduct" src="" />
                            </div>
                        </div>
                        <div class="seperator"></div>

                        <div class="col-12 m-t20">
                            <div class="ml-auto m-b5">
                                <h3>2. توضیحات</h3>
                            </div>
                        </div>
                        <div class="form-group col-12">
                            <label class="col-form-label"> توضیحات دوره</label>
                            <div>
                                <textarea wrap="hard"  asp-for="Description" class="form-control"> </textarea>
                                <span asp-validation-for="Description"></span>
                            </div>
                        </div>


                    </div>




                    <div class="col-12">

                        <button  type="submit" class="btn">ذخیره تغییرات</button>
                    </div>
                </form>



            </div>
        </div>
    </div>
    <!-- Your Profile Views Chart END-->
</div>

@section Scripts{

    <link href="~/Sweetalert2/sweetalert2.min.css" rel="stylesheet" />
    <script src="~/Sweetalert2/sweetalert2.min.js"></script>
    <script>



     



    


        function readURL(input) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#imgProduct').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#imgProductUp").change(function () {
            readURL(this);
        });

        //---------------------------------------------


        $("#parentGroupeID").change(function () {
            $("#subGroupeID").empty();
            $.getJSON("/admin/products/GetSubGroups?parentId=" + $("#parentGroupeID :selected").val(),
                function (data) {

                    $.each(data,
                        function () {
                            $("#subGroupeID").append('<option value=' + this.value + '>' + this.text + '</option>');

                        });

                });


        });




        $("#grandParentGroupeID").change(function () {
            $("#subGroupeID").empty();
            $("#parentGroupeID").empty();
            $.getJSON("/admin/products/GetParentGroups?grandId=" + $("#grandParentGroupeID :selected").val(),
                function (data) {

                    $.each(data,
                        function () {
                            $("#parentGroupeID").append('<option value=' + this.value + '>' + this.text + '</option>');

                        });

                });


        });



    

    </script>
 
}
