@model MetiKala.Domain.Entities.User.User



<div style="direction: rtl; padding: 20px">
    <h2>@Model.UserName عزیز !</h2>
    <p>با تشکر از ثبت نام شما در  برنا ، جهت ادامه کار میبایست حساب کاربری خود را فعال کنید</p>
    <p>
        <a href="https://localhost:44397/Account/ActiveUser/@Model.ActivationCode">فعالسازی حساب کاربری</a>
    </p>
</div>