@model string 
@{
    ViewData["Title"] = "_ForgotPasswordEmail";
    Layout = null;
}


<div style="direction: rtl; padding: 20px">
     <b>با سلام خدمت شما </b>

    <p>
        <a href="https://localhost:44397/Account/ResetPassword/@Model">تغییر رمز عبور</a>
    </p>
</div>

