@model MetiKala.Domain.Entities.User.User

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    List<MetiKala.Domain.Entities.User.Role> roles = ViewBag.Roles;
}

<h1>Create</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName"  />
                <span asp-validation-for="UserName" class="text-danger"></span>
                @if (ViewBag.existUserName==true)
                {
                    <p class="text-danger">نام کاربری تکراری است</p>
                }
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email"  />
                <span asp-validation-for="Email" class="text-danger"></span>
                @if (ViewBag.existEmail==true)
                {
                    <p class="text-danger">ایمیل تکراری است</p>
                }
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

         
       @foreach (var item in roles)
       {
        <div class="row">
            <input type="checkbox" name="selectedRoles" value="@item.RoleID" />@item.RoleTitle <br />
        </div>}

            <div >
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

