@model MetiKala.Application.DTOs.User.EditUserViewModel

@{
    ViewData["Title"] = "ویرایش";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    List<MetiKala.Domain.Entities.User.Role> roles = ViewBag.Roles;
    List<int> userRoles = ViewBag.UserRoles;
    }

<h1>Edit</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserID" />
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" readonly />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" readonly />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" value="" />

            </div>

            <div class="form-group form-check row">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActive" />----- @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>

            @foreach (var item in roles)
            {
                <div class="row">
                    <input type="checkbox" name="selectedRoles" value="@item.RoleID" @((userRoles.Any(p=>p==item.RoleID)?"checked":"")) />@item.RoleTitle <br />
                </div>}

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

