@model MetiKala.Application.DTOs.User.ForgotPasswordViewModel
@{
    ViewData["Title"] = "فراموشی رمز عبور";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="w3_login">

    <div class="w3_login_module">
        <div class="module form-module">



            <h2>رورد به سایت</h2>
           
            <form id="formRegister" asp-action="ForgotPassword" method="post">
                <input id="email" asp-for="Email" type="email" placeholder="ایمیل ">

               
                @if (ViewBag.UserNull == true)
                {
                    <div class="alert alert-danger" role="alert">
                        حسابی با این ایمیل یافت نشد
                    </div>
                }
                <div style="display:none" id="dangerText" class="alert alert-danger" role="alert">
                  ایمیل را وارد کنید
                </div>
              
                <input type="submit" value=" ارسال ایمیل">
            </form>

          
        </div>
    </div>
    @*<script>
            $('.toggle').click(function () {
                // Switches the Icon
                $(this).children('i').toggleClass('fa-pencil');
                // Switches the forms
                $('.form').animate({
                    height: "toggle",
                    'padding-top': 'toggle',
                    'padding-bottom': 'toggle',
                    opacity: "toggle"
                }, "slow");
            });
        </script>*@

    <script>


        //چک کردن داده ها برای ثبت نام کاربران
        const element = document.querySelector('#formRegister');
        element.addEventListener('submit', event => {
          
            let email = document.getElementById('email').value;

            if (email == "") {
                var dangerText = document.getElementById('dangerText');
                dangerText.style.display = "block";
                event.preventDefault();
            }

            // actual logic, e.g. validate the form
            console.log('Form submission cancelled.');
        });

    </script>
</div>
