@model MetiKala.Application.DTOs.User.ResetPasswordViewModel
@{
    ViewData["Title"] = "تغییر رمز عبور";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="w3_login">

    <div class="w3_login_module">
        <div class="module form-module">



            <h2>رورد به سایت</h2>

            <form id="formRegister" asp-action="ResetPassword" method="post">
                <input type="hidden" asp-for="UserID"/>
                <input id="password" asp-for="Password" type="password" placeholder="رمز عبور ">
                <input id="rePassword" asp-for="RePassword" type="password" placeholder="تکرار رمز عبور">


                @if (ViewBag.WrongRepassword == true)
                {
                    <div class="alert alert-danger" role="alert">
                     رمز عبور و تکرار آن برابر نیستند
                    </div>
                }
                <div style="display:none" id="dangerText" class="alert alert-danger" role="alert">
                    تمامی مقادیر را وارد کنید
                </div>

                <input type="submit" value="ثبت">
            </form>


        </div>
    </div>
    @*<script>
            $('.toggle').click(function () {
                // Switches the Icon
                $(this).children('i').toggleClass('fa-pencil');
                // Switches the forms
                $('.form').animate({
                    height: "toggle",
                    'padding-top': 'toggle',
                    'padding-bottom': 'toggle',
                    opacity: "toggle"
                }, "slow");
            });
        </script>*@

<script>


    //چک کردن داده ها برای ثبت نام کاربران
    const element = document.querySelector('#formRegister');
    element.addEventListener('submit', event => {

        let rePassword = document.getElementById('rePassword').value;
        let Password = document.getElementById('password').value;

        if (Password == "" || rePassword=="") {
            var dangerText = document.getElementById('dangerText');
            dangerText.style.display = "block";
            event.preventDefault();
        }

        // actual logic, e.g. validate the form
        console.log('Form submission cancelled.');
    });

</script>
</div>

